In [8]:
import pandas as pd
import numpy as np

Se carga la base de datos analizar en un dataframe

In [9]:
from pandas.io.excel import read_excel

url ="https://raw.githubusercontent.com/Neo3009/BasesdeDatosgrupo2/main/HOW_2FTE_SEX_JOB_NB_A-filtrado-2023-03-23.csv"
df = pd.read_csv(url)
df

,ref_area.label,indicator.label,source.label,sex.label,classif1.label,time,obs_value
0,Afganistán,Horas de trabajo perdidas debido a la crisis d...,OIT - Estimaciones Modeladas,Sexo: Total,Equivalencia a tiempo completo: Basado en 40 h...,2020,706.395
1,Afganistán,Horas de trabajo perdidas debido a la crisis d...,OIT - Estimaciones Modeladas,Sexo: Total,Equivalencia a tiempo completo: Basado en 48 h...,2020,588.663
2,Angola,Horas de trabajo perdidas debido a la crisis d...,OIT - Estimaciones Modeladas,Sexo: Total,Equivalencia a tiempo completo: Basado en 40 h...,2023,432.152
3,Angola,Horas de trabajo perdidas debido a la crisis d...,OIT - Estimaciones Modeladas,Sexo: Total,Equivalencia a tiempo completo: Basado en 48 h...,2023,360.127
4,Angola,Horas de trabajo perdidas debido a la crisis d...,OIT - Estimaciones Modeladas,Sexo: Total,Equivalencia a tiempo completo: Basado en 40 h...,2022,496.558
...,...,...,...,...,...,...,...
2791,Zimbabwe,Horas de trabajo perdidas debido a la crisis d...,OIT - Estimaciones Modeladas,Sexo: Total,Equivalencia a tiempo completo: Basado en 48 h...,2022,159.793
2792,Zimbabwe,Horas de trabajo perdidas debido a la crisis d...,OIT - Estimaciones Modeladas,Sexo: Total,Equivalencia a tiempo completo: Basado en 40 h...,2021,399.488
2793,Zimbabwe,Horas de trabajo perdidas debido a la crisis d...,OIT - Estimaciones Modeladas,Sexo: Total,Equivalencia a tiempo completo: Basado en 48 h...,2021,332.907
2794,Zimbabwe,Horas de trabajo perdidas debido a la crisis d...,OIT - Estimaciones Modeladas,Sexo: Total,Equivalencia a tiempo completo: Basado en 40 h...,2020,594.748
2795,Zimbabwe,Horas de trabajo perdidas debido a la crisis d...,OIT - Estimaciones Modeladas,Sexo: Total,Equivalencia a tiempo completo: Basado en 48 h...,2020,495.624

Se valida las columnas existentes

In [10]:
df.columns

Index(['ref_area.label', 'indicator.label', 'source.label', 'sex.label',
       'classif1.label', 'time', 'obs_value'],
      dtype='object')

In [ ]:
La variable que nos interesa validamos datos unicos

In [11]:
df.columns=['ref_area.label', 'indicator.label', 'source.label', 'sex.label', 'classif1.label', 'time', 'obs_value']
df['ref_area.label'].unique()

array(['Afganistán', 'Angola', 'Albania', 'Emiratos Arabes Unidos',
       'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaiyán',
       'Burundi', 'Bélgica', 'Benin', 'Burkina Faso', 'Bangladesh',
       'Bulgaria', 'Bahrein', 'Bahamas', 'Bosnia y Herzegovina',
       'Belarús', 'Belice', 'Bolivia', 'Brasil', 'Barbados',
       'Brunei Darussalam', 'Bhután', 'Botswana',
       'República Centroafricana', 'Canadá', 'Islas Anglonormandas',
       'Suiza', 'Chile', 'China', "Côte d'Ivoire", 'Camerún',
       'Congo, Rep. Dem. del', 'Congo', 'Colombia', 'Comoras',
       'Cabo Verde', 'Costa Rica', 'Cuba', 'Chipre', 'Chequia',
       'Alemania', 'Djibouti', 'Dinamarca', 'República Dominicana',
       'Argelia', 'Ecuador', 'Egipto', 'Eritrea', 'Sahara Occidental',
       'España', 'Estonia', 'Etiopía', 'Finlandia', 'Fiji', 'Francia',
       'Gabón', 'Reino Unido', 'Georgia', 'Ghana', 'Guinea', 'Gambia',
       'Guinea-Bissau', 'Guinea Ecuatorial', 'Grecia', 'Guatemala',
       'Guam', 'Guyana', 'Hong Kong, China', 'Honduras', 'Croacia',
       'Haití', 'Hungría', 'Indonesia', 'India', 'Irlanda',
       'Irán, República Islámica del', 'Iraq', 'Islandia', 'Israel',
       'Italia', 'Jamaica', 'Jordania', 'Japón', 'Kazajstán', 'Kenya',
       'Kirguistán', 'Camboya', 'Corea, República de', 'Kuwait',
       'Lao, República Democrática Popular Lao', 'Líbano', 'Liberia',
       'Libia', 'Santa Lucía', 'Sri Lanka', 'Lesotho', 'Lituania',
       'Luxemburgo', 'Letonia', 'Macao, China', 'Marruecos',
       'Moldova, República de', 'Madagascar', 'Maldivas', 'México',
       'Macedonia del Norte', 'Malí', 'Malta', 'Myanmar', 'Montenegro',
       'Mongolia', 'Mozambique', 'Mauritania', 'Mauricio', 'Malawi',
       'Malasia', 'Namibia', 'Nueva Caledonia', 'Níger', 'Nigeria',
       'Nicaragua', 'Países Bajos', 'Noruega', 'Nepal', 'Nueva Zelandia',
       'Omán', 'Pakistán', 'Panamá', 'Perú', 'Filipinas',
       'Papua Nueva Guinea', 'Polonia', 'Puerto Rico',
       'Corea, República Popular Democrática de', 'Portugal', 'Paraguay',
       'Territorio palestino ocupado', 'Polinesia Francesa', 'Qatar',
       'Rumania', 'Rusia, Federación de', 'Rwanda', 'Arabia Saudita',
       'Senegal', 'Singapur', 'Islas Salomón', 'Sierra Leona',
       'El Salvador', 'Somalia', 'Serbia', 'Sudán',
       'Santo Tomé y Príncipe', 'Suriname', 'Eslovaquia', 'Eslovenia',
       'Suecia', 'Eswatini', 'República Arabe Siria', 'Chad', 'Togo',
       'Tailandia', 'Tayikistán', 'Turkmenistán', 'Timor-Leste', 'Tonga',
       'Trinidad y Tabago', 'Túnez', 'Türkiye', 'Taiwan, China',
       'Tanzanía, República Unida de', 'Uganda', 'Ucrania', 'Uruguay',
       'Estados Unidos', 'Uzbekistán', 'San Vicente y las Granadinas',
       'Venezuela, República Bolivariana de', 'Islas Vírgenes Americanas',
       'Viet Nam', 'Vanuatu', 'Samoa', 'Mundo', 'Mundo: Ingreso bajo',
       'Mundo: Ingreso mediano bajo', 'Mundo: Ingreso mediano alto',
       'Mundo: Ingreso alto', 'África', 'África: Ingreso bajo',
       'África: Ingreso mediano bajo', 'África: Ingreso mediano alto',
       'Norte de África', 'Norte de África: Ingreso mediano bajo',
       'África subsahariana', 'África subsahariana: Ingreso bajo',
       'África subsahariana: Ingreso mediano bajo',
       'África subsahariana: Ingreso mediano alto', 'África central',
       'África Oriental', 'África del Sur', 'África Occidental',
       'Américas', 'Américas: Ingreso mediano bajo',
       'Américas: Ingreso mediano alto', 'Américas: Ingreso alto',
       'América Latina y el Caribe',
       'América Latina y el Caribe: Ingreso mediano bajo',
       'América Latina y el Caribe: Ingreso mediano alto',
       'América Latina y el Caribe: Ingreso alto', 'Caribe',
       'América Central', 'América del Sur', 'América del Norte',
       'América del Norte: Ingreso alto', 'Estados Árabes',
       'Estados Árabes: Ingreso mediano bajo',
       'Estados Árabes: Ingreso mediano alto',
       'Estados Árabes: Ingreso alto', 'Asia y el Pacífico',
       'Asia y el Pacífico: Ingreso bajo',
       'Asia y el Pacífico: Ingreso mediano bajo',
       'Asia y el Pacífico: Ingreso mediano alto',
       'Asia y el Pacífico: Ingreso alto', 'Asia Oriental',
       'Asia Oriental: Ingreso alto', 'Asia sudoriental y el Pacífico',
       'Asia sudoriental y el Pacífico: Ingreso mediano bajo',
       'Asia sudoriental y el Pacífico: Ingreso mediano alto',
       'Asia sudoriental y el Pacífico: Ingreso alto', 'Asia Sudoriental',
       'Islas del Pacífico', 'Asia meridonal',
       'Asia meridonal: Ingreso mediano bajo', 'Europa y Asia Central',
       'Europa y Asia Central: Ingreso mediano bajo',
       'Europa y Asia Central: Ingreso mediano alto',
       'Europa y Asia Central: Ingreso alto',
       'Europa del Norte, Sur y Occidental',
       'Europa del Norte, Sur y Occidental: Ingreso mediano alto',
       'Europa del Norte, Sur y Occidental: Ingreso alto',
       'Norte de Europa', 'Sur de Europa', 'Europa occidental',
       'Europa oriental', 'Europa oriental: Ingreso mediano alto',
       'Europa oriental: Ingreso alto', 'Asia Central',
       'Asia Central y Occidental: Ingreso mediano bajo',
       'Asia Central y Occidental: Ingreso mediano alto',
       'Asia Central y Occidental: Ingreso alto',
       'Asia Central y Occidental', 'Asia occidental', 'Unión Europea 28',
       'G20', 'ASEAN', 'BRICS', 'Mundo sin los BRICS', 'G7', 'OMNA',
       'Liga Arabe', 'CARICOM', 'Unión Europea 27',
       'Estados Árabes: Ingreso bajo', 'APEC', 'Yemen', 'Sudáfrica',
       'Zambia', 'Zimbabwe'], dtype=object)

In [ ]:
Se realiza el filtro por los paises que se requiere

In [12]:
filtro= df['ref_area.label'].isin(['Argentina', 'Bahamas',
'Belice',
'Bolivia',
'Brasil',
'Barbados',
'Chile',
'Colombia',
'Cuba',
'Ecuador',
'Guatemala',
'Guyana',
'Honduras',
'Haití',
'Jamaica',
'México',
'Nicaragua',
'Panamá',
'Perú',
'Paraguay',
'Suriname',
'Uruguay',
'Venezuela',
'América Latina y el Caribe',
'América Latina y el Caribe: Ingresomedianobajo',
'América Latina y el Caribe: Ingresomedianoalto',
'América Latina y el Caribe: Ingresoalto',
'Caribe',
'América Central',
'América del Sur'])
print(filtro)

0       False
1       False
2       False
3       False
4       False
        ...
2791    False
2792    False
2793    False
2794    False
2795    False
Name: ref_area.label, Length: 2796, dtype: bool

In [ ]:
Se genera el dataframe con el filtro realizado con anterioridad

In [13]:
df_filtrado = df.loc[filtro]
df_filtrado

,ref_area.label,indicator.label,source.label,sex.label,classif1.label,time,obs_value
26,Argentina,Horas de trabajo perdidas debido a la crisis d...,OIT - Estimaciones Modeladas,Sexo: Total,Equivalencia a tiempo completo: Basado en 40 h...,2023,23.444
27,Argentina,Horas de trabajo perdidas debido a la crisis d...,OIT - Estimaciones Modeladas,Sexo: Total,Equivalencia a tiempo completo: Basado en 48 h...,2023,19.537
28,Argentina,Horas de trabajo perdidas debido a la crisis d...,OIT - Estimaciones Modeladas,Sexo: Total,Equivalencia a tiempo completo: Basado en 40 h...,2022,-241.113
29,Argentina,Horas de trabajo perdidas debido a la crisis d...,OIT - Estimaciones Modeladas,Sexo: Total,Equivalencia a tiempo completo: Basado en 48 h...,2022,-200.928
30,Argentina,Horas de trabajo perdidas debido a la crisis d...,OIT - Estimaciones Modeladas,Sexo: Total,Equivalencia a tiempo completo: Basado en 40 h...,2021,503.796
...,...,...,...,...,...,...,...
1927,América del Sur,Horas de trabajo perdidas debido a la crisis d...,OIT - Estimaciones Modeladas,Sexo: Total,Equivalencia a tiempo completo: Basado en 48 h...,2020,26248.073
1928,América del Sur,Horas de trabajo perdidas debido a la crisis d...,OIT - Estimaciones Modeladas,Sexo: Hombres,Equivalencia a tiempo completo: Basado en 40 h...,2020,17120.813
1929,América del Sur,Horas de trabajo perdidas debido a la crisis d...,OIT - Estimaciones Modeladas,Sexo: Hombres,Equivalencia a tiempo completo: Basado en 48 h...,2020,14267.344
1930,América del Sur,Horas de trabajo perdidas debido a la crisis d...,OIT - Estimaciones Modeladas,Sexo: Mujeres,Equivalencia a tiempo completo: Basado en 40 h...,2020,14376.874
1931,América del Sur,Horas de trabajo perdidas debido a la crisis d...,OIT - Estimaciones Modeladas,Sexo: Mujeres,Equivalencia a tiempo completo: Basado en 48 h...,2020,11980.728

Filtro de una sola variable

In [15]:
#Filtrar los registros de Latinoamerica y generar base final
df1 = df.loc[df["ref_area.label"] == ('América Latina y el Caribe')]
df1

,ref_area.label,indicator.label,source.label,sex.label,classif1.label,time,obs_value
1820,América Latina y el Caribe,Horas de trabajo perdidas debido a la crisis d...,OIT - Estimaciones Modeladas,Sexo: Total,Equivalencia a tiempo completo: Basado en 40 h...,2023,-87.559
1821,América Latina y el Caribe,Horas de trabajo perdidas debido a la crisis d...,OIT - Estimaciones Modeladas,Sexo: Total,Equivalencia a tiempo completo: Basado en 48 h...,2023,-72.966
1822,América Latina y el Caribe,Horas de trabajo perdidas debido a la crisis d...,OIT - Estimaciones Modeladas,Sexo: Total,Equivalencia a tiempo completo: Basado en 40 h...,2022,-3130.064
1823,América Latina y el Caribe,Horas de trabajo perdidas debido a la crisis d...,OIT - Estimaciones Modeladas,Sexo: Total,Equivalencia a tiempo completo: Basado en 48 h...,2022,-2608.387
1824,América Latina y el Caribe,Horas de trabajo perdidas debido a la crisis d...,OIT - Estimaciones Modeladas,Sexo: Total,Equivalencia a tiempo completo: Basado en 40 h...,2021,12941.118
1825,América Latina y el Caribe,Horas de trabajo perdidas debido a la crisis d...,OIT - Estimaciones Modeladas,Sexo: Total,Equivalencia a tiempo completo: Basado en 48 h...,2021,10784.265
1826,América Latina y el Caribe,Horas de trabajo perdidas debido a la crisis d...,OIT - Estimaciones Modeladas,Sexo: Hombres,Equivalencia a tiempo completo: Basado en 40 h...,2021,6502.994
1827,América Latina y el Caribe,Horas de trabajo perdidas debido a la crisis d...,OIT - Estimaciones Modeladas,Sexo: Hombres,Equivalencia a tiempo completo: Basado en 48 h...,2021,5419.161
1828,América Latina y el Caribe,Horas de trabajo perdidas debido a la crisis d...,OIT - Estimaciones Modeladas,Sexo: Mujeres,Equivalencia a tiempo completo: Basado en 40 h...,2021,6438.124
1829,América Latina y el Caribe,Horas de trabajo perdidas debido a la crisis d...,OIT - Estimaciones Modeladas,Sexo: Mujeres,Equivalencia a tiempo completo: Basado en 48 h...,2021,5365.103
1830,América Latina y el Caribe,Horas de trabajo perdidas debido a la crisis d...,OIT - Estimaciones Modeladas,Sexo: Total,Equivalencia a tiempo completo: Basado en 40 h...,2020,46892.211
1831,América Latina y el Caribe,Horas de trabajo perdidas debido a la crisis d...,OIT - Estimaciones Modeladas,Sexo: Total,Equivalencia a tiempo completo: Basado en 48 h...,2020,39076.842
1832,América Latina y el Caribe,Horas de trabajo perdidas debido a la crisis d...,OIT - Estimaciones Modeladas,Sexo: Hombres,Equivalencia a tiempo completo: Basado en 40 h...,2020,26651.612
1833,América Latina y el Caribe,Horas de trabajo perdidas debido a la crisis d...,OIT - Estimaciones Modeladas,Sexo: Hombres,Equivalencia a tiempo completo: Basado en 48 h...,2020,22209.676
1834,América Latina y el Caribe,Horas de trabajo perdidas debido a la crisis d...,OIT - Estimaciones Modeladas,Sexo: Mujeres,Equivalencia a tiempo completo: Basado en 40 h...,2020,20240.599
1835,América Latina y el Caribe,Horas de trabajo perdidas debido a la crisis d...,OIT - Estimaciones Modeladas,Sexo: Mujeres,Equivalencia a tiempo completo: Basado en 48 h...,2020,16867.166